# Template de Variáveis de Ambiente (Pode ser commitado)
# Copie este arquivo como ".env" e preencha suas senhas antes de rodar o Docker

# Banco de Dados Principal (API Node)
DB_MAIN_USER=seu-usuario
DB_MAIN_PASS=sua-senha-segura
DB_MAIN_NAME=delivery_db

# Banco de Dados de Entregadores (Microserviço C#)
DB_ENTREGADORES_USER=seu-usuario
DB_ENTREGADORES_PASS=sua-senha-segura
DB_ENTREGADORES_NAME=entregadores_db

# Chaves Secretas de Autenticação
JWT_SECRET=super_secret_key_para_gerar_seus_tokens

# Nome do arquivo osrm
OSRM_FILE=sudeste-260509.osrm

# Configurações do RabbitMQ
RABBIT_USER=admin
RABBIT_PASS=admin123

# SMTP - Mailtrap Email Testing (Sandbox)
# Crie uma conta gratuita em https://mailtrap.io -> Sandboxes -> My Sandbox -> Integrations
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=seu-mailtrap-username
SMTP_PASS=sua-mailtrap-password

# Banco de Dados de Recomendação (Microserviço Python)
DB_RECOMENDACAO_USER=seu-usuario
DB_RECOMENDACAO_PASS=sua-senha-segura
DB_RECOMENDACAO_NAME=recomendacao_db