# Template de Variáveis de Ambiente (Pode ser commitado)
# Copie este arquivo como ".env" e preencha suas senhas antes de rodar o Docker

# Configurações do Banco de Dados Postgres (Docker)
DB_USER=seu-usuario
DB_PASS=sua-senha-segura
DB_NAME=delivery_db

# Chaves Secretas de Autenticação
JWT_SECRET=super_secret_key_para_gerar_seus_tokens

# Nome do arquivo osrm
OSRM_FILE=sudeste-260509.osrm